* {
  box-sizing: border-box;
}

html,
body,
#root {
  width: 100%;
  min-width: 100%;
  min-height: 100%;
  margin: 0;
}

body {
  min-height: 100vh;

  font-family:
    Inter,
    "Noto Sans JP",
    "Yu Gothic",
    "Meiryo",
    sans-serif;

  background: #101625;

  color: #ffffff;
}

button,
input,
select,
textarea {
  font: inherit;
}